.name_splash {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.name_splash span {
  font-size: 35px;
  color: white;
  padding: 0.5em 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.titleimage {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  margin-top: -5em;
  z-index: -5;
  position: relative;
  filter: brightness(70%);
}

.titleimage-container {
  position: relative;
}

.titleimage-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(15, 13, 37, 0.7) 0%, rgba(15, 13, 37, 0) 100%);
  z-index: 0;
}

/* Scroll Indicator Styles */
.scroll-indicator {
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.scroll-indicator-text {
  color: white;
  font-size: 22px;
  margin-bottom: 8px;
}

.who-i-am {
  line-height: 3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form input,
form textarea {
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 0.75em;
  font-size: 18px;
  background: linear-gradient(135deg,#FFD700 0%,#FFD700 100%);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

form button:hover {
  border-color: #FFC107;
}

footer {
  background-color: #0F0D25;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Media Queries */

/* For tablets and larger devices */
@media (max-width: 768px) {
  .name_splash span {
    font-size: 28px;
  }

  .scroll-indicator-text {
    font-size: 18px;
  }

  form input,
  form textarea {
    width: 100%;
  }

  form button {
    width: 100%;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .name_splash span {
    font-size: 24px;
  }

  .scroll-indicator-text {
    font-size: 16px;
  }

  form input,
  form textarea {
    width: 100%;
  }

  form button {
    width: 100%;
  }
}
