
/* Base styles for the navbar */
header {
  background-color: #0F0D25;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 1em;
}

/* Nav items for desktop */
nav {
  padding-left: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}


.Header-nav-item {
  color: #FFFFFF;
  display: inline-block;
  padding: .618em 0;
  margin: 0 .618em;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none !important;
  letter-spacing: .12em;
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}

/* Navigation Items (Links) */
.Header-nav-item:hover {
  color: #FFC107;
}



/* Initials Logo Image */
.initials {
  transition: filter 0.3s ease-in-out;
}

.initials:hover {
  filter: invert(72%) sepia(97%) saturate(1000%) hue-rotate(1deg) brightness(220%) contrast(105%);
}

/* Toggle button styles */
.toggle-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}


@media (min-width: 650px) and (max-width: 1100px) {
  .Header-nav-item {
    font-size: 2vw;
  }

  .initials {
    width: 8vw;
    height: auto;
  }
}


/* Styles for mobile view */
@media (max-width: 650px) {
  #NavBar {
      flex-direction: column;
  }

  .logo-button-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .initials {
      margin-bottom: 10px;
  }

  .initials-container {
    justify-self: center;
  }

  nav {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  nav.active {
      display: flex;
  }

  .Header-nav-item {
      width: 100%;
      padding: 10px 0;
      border-top: 1px solid #444; /* Change as needed */
      text-align: center;
  }

  .toggle-button {
    display: block;
  }
}