@import 'main.css';


/* Pages */
@import 'pages/mainpage.css';
@import 'pages/projects.css';
@import 'pages/resume.css';
@import 'pages/project_article.css';

/* Components */
@import 'components/card.css';
@import 'components/modal.css';
@import 'components/navbar.css';
@import 'components/section.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

