  /* Side Navbar */
.sidenav {
    height: 100vh;
    width: 12.5em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    border-style: solid;
    border-color: #be6644;
    border-width: 0em .5em 0em 0em;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav-profile {
    margin:.8em;
    border-radius: 50% !important;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
  
.sidenav-contents {
    opacity: 1;
    transition: 1s;
}