nav {
    padding-left: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Header-nav-item {
    color: #FFFFFF;
    display: inline-block;
    padding: .618em 0;
    margin: 0 .618em;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none !important;
    letter-spacing: .12em;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
  }
  
  .titleimage {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    margin-top: -5em;
    z-index: -5;
    position: relative;
    filter: brightness(70%);
  }